*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background: azure;
    width: 100vw;
    min-height: 100vh;
    transition: 0.5s;
}

.container.dark{
    background: #023535;
}
.textz{
    position: absolute;
    top: 90px;
}